body {
	background: asset_url('background.png') repeat-x center top fixed;

	.container.opaque {
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 10px;
		margin: 1rem auto;
		padding: 2rem;

		.post-image {
			max-height: 1000px;
			max-width: 1000px;
		}
	}

  .comments {
    padding-left: 2rem;
  }

  .byline {
    padding: 1rem 0;
    
    img {
      border: 2px solid grey;
      height: 3rem;
      object-fit: cover;
      margin-right: 1rem;
      width: 3rem;
    }
  }

  .profile {
    .avatar {
      margin: 0 auto;
      max-height: 500px;
      max-width: 500px;
    }
  }
}