body {
	background: asset_url('background.png') repeat-x center top fixed;

	.container.opaque {
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 10px;
		margin: 1rem auto;
		padding: 2rem;
	}

  .comments {
    padding-left: 2rem;
  }
  
  .post {
    h2 {
      margin-top: 3rem;
    }
  }
  .byline, .follower {
    padding: 1rem 0;
    
    img {
      border: 2px solid grey;
      height: 3rem;
      object-fit: cover;
      margin-right: 1rem;
      width: 3rem;
    }
  }
  .followers-list {
    list-style: none;
    .follower {
      .follower-name {
        margin-left: 1rem;
      }
    }
  }

  .profile {
    .avatar {
      margin: 0 auto;
    }
  }
}